div.nav_section ul {
	list-style-type: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, times 'Times New Roman', Times, serif;
}
.clear {
	clear: both;
	line-height: 0;
}
header {
	display: block;
	background: hsl(221, 83%, 46%);
	position: fixed;
	width: 100%;
	right: 0;
	top: 0;
	margin-bottom: 60px;
	z-index: 1;
}
div.nav_toggle {
	padding: 20px;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 200;
	display: none;
}
div.nav_toggle:before {
	content: '\f039';
	font-family: FontAwesome;
	text-align: center;
	font-weight: bold;
	height: 40px;
	color: #fff;
	cursor: pointer;
}
div.main_nav {
	padding: 15px 15px;
	display: block;
	background: #22e5ff;
	height: auto;
	min-height: 60px;
}
div.main_nav h2 {
	float: left;
	margin-left: 35px;
	font-family: 1em "helvetica" sans-serif;
	color: #fff;
	font-weight: 200;
}
div.main_nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
	margin-right: 20px;
}
div.main_nav ul li {
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	height: 20px;
	width: auto;
}
div.main_nav ul li a {
	text-decoration: none;
	color: #fff;
	
}
div.responive_nav {
	max-width: 250px;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	margin-left: -250px;
	height: 100%;
	z-index: 100;
	background: #fff;
	transition: margin 200ms ease-in;
}
div.nav_section_img {
	background-image: url("../image/dish_2.jpg");
	background-attachment: fixed;
	background-position: center;
	height: 120px;
	background-repeat: no-repeat;
	background-size: cover;
}