div.nav_section ul {
	list-style-type: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, times 'Times New Roman', Times, serif;
}
.clear {
	clear: both;
	line-height: 0;
}
header {
	display: block;
	background: hsl(221, 83%, 46%);
	position: fixed;
	width: 100%;
	right: 0;
	top: 0;
	margin-bottom: 60px;
	z-index: 1;
}
div.nav_toggle {
	padding: 20px;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 200;
	display: none;
}
div.nav_toggle:before {
	content: '\f039';
	font-family: FontAwesome;
	text-align: center;
	font-weight: bold;
	height: 40px;
	color: #fff;
	cursor: pointer;
}
div.main_nav {
	padding: 15px 15px;
	display: block;
	background: #22e5ff;
	height: auto;
	min-height: 60px;
}
div.main_nav h2 {
	float: left;
	margin-left: 35px;
	font-family: 1em "helvetica" sans-serif;
	color: #fff;
	font-weight: 200;
}
div.main_nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
	margin-right: 20px;
}
div.main_nav ul li {
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	height: 20px;
	width: auto;
}
div.main_nav ul li a {
	text-decoration: none;
	color: #fff;
	
}
div.responive_nav {
	max-width: 250px;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	margin-left: -250px;
	height: 100%;
	z-index: 100;
	background: #fff;
	transition: margin 200ms ease-in;
}
div.nav_section_img {
	background-image: url("../image/dish_2.jpg");
	background-attachment: fixed;
	background-position: center;
	height: 120px;
	background-repeat: no-repeat;
	background-size: cover;
}
div.nav_section_div {
	background: #000;
	height: 120px;
	opacity: 0.8;
}
div.nav_section_div h3 {
	color: #fff;
	font-family: lucida handwriting;
	text-align: center;
	line-height: 110px;
}
div.nav_section {
	height: auto;
	display: block;
	padding: 20px;
	background: #fff;
}
div.nav_section ul {
	list-style-type: none;
}
div.nav_section ul li {
	display: block;
	height: 40px;
	border-bottom: 1px solid #efefef;
	line-height: 40px;
}
div.nav_section ul li a {
	text-decoration: none;
	color: #111;
}
span.home:before {
	content: '\f015';
	font-family: FontAwesome;
	margin-right: 13px;
	font-size: 21px;
}

span.menu:before {
	content: '\f009';
	font-family: FontAwesome;
	margin-right: 13px;
	font-size: 21px;
}
span.reserve:before {
	content: '\f0ce';
	font-family: FontAwesome;
	margin-right: 13px;
	font-size: 21px;
}

span.gallery:before {
	content: '\f030';
	font-family: FontAwesome;
	margin-right: 13px;
	font-size: 21px;
}

span.order:before {
	content: '\f0d6';
	font-family: FontAwesome;
	margin-right: 13px;
	font-size: 20px;
}
div.parallax {
	background-image: url("../image/dish_2.jpg");
	background-attachment: fixed;
	height: 370px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}

div.parallax_two {
	background-image: url("../image/dish.jpg");
	background-attachment: fixed;
	height: 370px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.parallax_head {
	background: #000;
	opacity: 0.8;
	color: #fff;
	text-align: center;
	height: 370px;
	padding: 10px;
}
div.parallax_basket {
	background-image: url("../image/dish_2.jpg");
	background-attachment: fixed;
	height: 210px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}
div.parallax_head_basket {
	background: #000;
	opacity: 0.8;
	color: #fff;
	text-align: center;
	height: 210px;
	padding: 10px;
}
div.on_parallax {
	background: #fff;
	opacity: 0.9;
	color: #505050;
	text-align: center;
	height: 370px;
	padding: 10px;
}

div.on_parallax h2 {
	color: #333;
	margin: 15px auto;
	font-weight: 200;
	font-family: lucida handwriting;
}
span.fresh:before {
	content: '\f009';
	font-family: FontAwesome;
	color: #22deff;
	font-size: 25px;
	margin-right: 4px;
}

span.cart:before {
	content: "\f01c";
	font-family: FontAwesome;
	color: #22ffff;
	font-size: 25px;
	margin-right: 4px;
}
div.parallax_content {
	max-width: 1100px;
	height: auto;
	padding: 1px;
	margin: 0 auto;
}

div.parallax_item {
	float: left;
	margin-left: 1%;
	width: 32%;
	background: #fff;
	height: auto;
	box-shadow: 1px 1px 2px #000;
	margin-bottom: 7px;
}
div.parallax_item a {
	text-decoration: none;
	color: #505050;
}

div.parallax_item img {
	float: left;
	margin-right: 5px;
}
div.detail {
	padding: 5px;
	text-align: left;
	float:left;
}

div.detail p.desc {
	font-size: 14px;
}

div.detail p.price {
	text-align: right;
	line-height: 30px;
	color: #FF5722;
	font-weight: bold;
}
div.parallax_head h2 {
	margin-top: 150px;
	font-family: lucida handwriting;
	text-transform: capitalize;
	font-size: 35px;
}

div.parallax_head h3 {
	font-size: 40px;
	font-family: sans-serif;
	font-weight: 200;
}
div.parallax_head_basket h2 {
	margin-top: 70px;
	font-family: lucida handwriting;
	text-transform: capitalize;
	font-size: 35px;
}

div.parallax_head_basket h3 {
	font-size: 40px;
	font-family: sans-serif;
	font-weight: 200;
}
div.content {
	background: #fff;
	color: #000;
	padding: 20px 15px;
	height: auto;
	display: block;
}

div.content.remove_pad {
	background: #fff;
	color: #000;
	padding: 2px 15px;
	height: auto;
	display: block;
}
div.inner_content {
	max-width: 1200px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
}
form.hr_book_form {
	max-width: 1100px;
	height: auto;
	margin: 0 auto;
}

h2.form_head {
	text-align: center;
	color: #505050;
	font-size: 30px;
}
span.book_icon:before {
	content: '\f0ce';
	font-family: FontAwesome;
	margin-right: 13px;
	font-size: 30px;
	color: #FF5722;
}

p.form_slg {
	text-align: center;
	color: #FF5722;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}
div.left {
	float: left;
	width: 50%;
	height: auto;
	padding: 20px;
}
label {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #505050;
	font-size: 18px;
}

input[type=text], input[type=email], input[type=number], input[type=date], input[type=time] {
	width: 100%;
	border: 1px solid #CCCCCC;
	padding: 7px;
	height: 40px;
	background: #efefef;
	border-radius: 4px;
}

textarea {
	width: 100%;
	background: #efefef;
	border: 1px solid #ccc;
	padding: 7px;
	border-radius: 4px;
	height: 280px;
}

input[type=submit].submit {
	width: 100%;
	background: #FF5722;
	color: #fff;
	padding: 7px;
	height: 40px;
	border: 1px solid #FF5722;
	font-family: verdana;
	font-size: 19px;
	margin-top: 27px;
	border-radius: 4px;
}