div.nav_section ul {
	list-style-type: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, times 'Times New Roman', Times, serif;
}
.clear {
	clear: both;
	line-height: 0;
}
header {
	display: block;
	background: hsl(221, 83%, 46%);
	position: fixed;
	width: 100%;
	right: 0;
	top: 0;
	margin-bottom: 60px;
	z-index: 1;
}
div.nav_toggle {
	padding: 20px;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 200;
	display: none;
}
div.nav_toggle:before {
	content: '\f039';
	font-family: FontAwesome;
	text-align: center;
	font-weight: bold;
	height: 40px;
	color: #fff;
	cursor: pointer;
}